@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --bg-color: #0e0e0e;
    --text-color: #fffff1;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "JetBrains Mono", monospace;
}

a {
    color: brown;
}

header {
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-between;
}

.title_header {
    display: flex;
    gap: 0.15rem;
}

body {
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 3.25% 5%;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0.1rem;
    font-family: "JetBrains Mono", monospace;
    border: 0.1rem solid var(--text-color);
    height: 64vh;
    border-radius: 0.3rem;
    overflow: hidden;
}

#terminal {
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.caret
{
    background-color: var(--text-color);
    width: 0.7rem;
    height: 2.5rem;
    animation: blink 1.25s infinite;
}

@keyframes blink
{
    0%, 100% {
        background-color: transparent;
    }
    50% {
        background-color: var(--text-color);
    }
}

footer {
    display: flex;
    justify-content: end;
    gap: 0.2rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 0.2rem;
}