@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --bg-color: #0e0e0e;
    --text-color: lightyellow;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "JetBrains Mono", monospace;
}

a {
    color: brown;
}

header {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.title_header {
    display: flex;
    gap: 0.15rem;
}

body {
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 3% 5%;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0.1rem;
    font-family: "JetBrains Mono", monospace;
    border: 0.1rem solid var(--text-color);
    height: 60vh;
    border-radius: 0.3rem;
    overflow: hidden;
}

#terminal {
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.caret
{
    background-color: var(--text-color);
    width: 0.7rem;
    height: 2.5rem;
    animation: blink 1.25s infinite;
}

@keyframes blink
{
    0%, 100% {
        background-color: transparent;
    }
    50% {
        background-color: var(--text-color);
    }
}

.information_title {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

#taskForm {
    display: flex;
    flex-direction: column;
    gap: 20rem;
    font-size: 1.2rem;
    justify-content: space-between;
}

#taskForm_register {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    font-size: 1.2rem;
    justify-content: space-between;
}

#taskForm_login {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    font-size: 1.2rem;
    justify-content: space-between;
}

.inputs {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    color: cornflowerblue;
}

input {
    width: 85rem;
    height: 1.5rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-size: 1.1rem;
    outline: none;
    border: none;
    resize: none;
    font-family: "JetBrains Mono", monospace;
    position: relative;
}

.text_caret {
    background-color: var(--text-color);
    width: 2px;
    height: 1.5em;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

#password {
    letter-spacing: 0.2rem;
    font-size: 0.9rem;
    padding-left: 0.1rem;
}

.labels {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}

.description {
    display: flex;
    align-items: baseline;
}

.button_button {
    width: 10rem;
    height: 2rem;
    border-radius: 0.25rem;
    background-color: lightyellow;
    font-family: monospace;
}

.button_div {
    display: flex;
    justify-content: center;
}

.terminal_begin {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.logout_button {
    background-color: transparent;
    color: brown;
    font-size: 1rem;;
    border-color: transparent;
}

footer {
    display: flex;
    justify-content: end;
    gap: 0.2rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 0.2rem;
}

#login_button {
    width: 10rem;
    height: 2rem;
    background-color: transparent;
    outline: none;
    border-color: transparent;
}